/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/75272073703753/file/doc/nfsxml
/storage/*.key
/storage/app/config.ini
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode